extends layout 

block content 
    form(method="POST" action="/user/resetPassword") 
        h2  Reset Password  
        #form-group 
            label Enter new password   
            input.form-control(name ='password', type ='password',maxlength="50", required)
        #form-group 
            label Confirm Password  
            input.form-control(name ='password2', type ='password',maxlength="20", required)        
        br    
        input.btn.btn-primary(type='submit', value ='SUBMIT')